.wrapper {
  margin-top: 10px;
  .addNewProduct {
    position: fixed;
    right: 23px;
    bottom: 23px;
    z-index: 10
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .paginatorWrapper {
    margin: 50px 0;
  }
}
